<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img
        src="assets/images/AnytimeBooksLogoCase.png"
        alt="anytime logo"
        style="max-height: 75px; background-size: cover"
      />
    </a>

    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-end">
      <div class="buttons">
        <a class="button is-danger" routerLink="/">
          <strong>Home</strong>
        </a>
        <a class="button is-primary" routerLink="/search">
          <strong>Search</strong>
        </a>
        <a class="button is-info" routerLink="/savedbooks">
          <strong>Reading list:0</strong>
        </a>
      

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="button is-warning">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/about">
            About
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>
    </div>

  </div>
</nav>

<!-- <app-readinglist [readingState]="readingState"></app-readinglist> -->
<router-outlet></router-outlet>

<button (click)="testLocal()" class="button is-warning">Test local storage</button>

<footer class="footer has-background-white">
  <div class="content has-text-centered has-text-success has-text-weight-bold">
    <p>
      <a class="footerImage is-9by1">
        <img src="assets/images/FooterCropped.png" alt="footer image" />
      </a>
      Anytime Books by: ©2021 Gjonbalaj, Maki, Mateo, Powers, Winslow
    </p>
  </div>
</footer>
