<!-- <app-navbar></app-navbar> -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <!-- anytime books image  -->
  <div class="navbar-brand">
    <a class="navbar-item" href="./index.html">
      <img
        src="assets/images/AnytimeBooksLogoCase.png"
        alt="anytime logo"
        style="max-height: 75px; background-size: cover"
      />
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasic"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- links  -->
  <div id="navbarBasic" class="navbar-menu has-dropdown">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger" routerLink="/">
            <strong>Home</strong>
          </a>
          <a class="button is-primary" routerLink="/search">
            <strong>Search</strong>
          </a>
          <a class="button is-info" routerLink="/books">
            <!-- Insert state of reading list from local storage. count of list added -->
            <strong>Reading list: 0</strong>
          </a>
          <a class="button is-warning" routerLink="/about">
            <strong>About</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer has-background-white">
  <div class="content has-text-centered has-text-success has-text-weight-bold">
    <p>
      <a class="footerImage is-9by1">
        <img src="assets/images/FooterCropped.png" alt="footer image" />
      </a>
      Anytime Books by: ©2021 Gjonbalaj, Maki, Mateo, Powers, Winslow
    </p>
  </div>
</footer>
