
<app-herosection></app-herosection>
<main>
  <section class="book-section">
    <section id="information" class="is-flex is-flex-direction-column">
      <div
        id="formDiv"
        class="is-flex is-justify-content-space-evenly has-background-primary p-6"
      >
        <form
          #selectGenreForm="ngForm"
          (ngSubmit)="submitGenre(selectGenreForm.value.genre)"
          id="genreForm"
          class="select is-rounded is-flex is-flex-direction-column is-justify-content-center m-5 p-5"
        >
          <label class="m-3 has-text-white">
            What would you like to read?</label
          >
          <select
            (ngModel)="(model.genre)"
            name="genre"
            id="bookType"
            class="m-3"
          >
            <option value=""selected hidden disabled>Make a selection</option>
            <option
              *ngFor="let genre of formGenreList"
              value="{{ genre.list_name_encoded }}"
            >
              {{ genre.display_name }}
            </option>
          </select>
          <button
            type="submit"
            class="button has-background-info has-text-white m-1"
          >
            Submit
          </button>
        </form>
      </div>

      <div
        id="viewSelection"
        class="columns is-centered is-full is-multiline is-flex is-justify-content-center is-flex-direction-row is-flex-wrap-wrap p-5 m-5"
      >
      </div>

    </section>
  </section>
</main>
