<app-herosection></app-herosection>
<div class="content is-large m-5 p-5">
  <p class="title is-2 has-text-centered">
    Welcome to <a class="has-text-success" routerLink="/">Anytime Books</a>.
  </p>
  <p>
    We strive to provide a solution to your reading needs. We use
    <a
      class="has-text-success"
      href="https://www.nytimes.com/books/best-sellers/"
      target="_blank"
      >"The New York Times"</a
    >
    best sellers list to recommend books and to ensure you always have options.
  </p>
  <p>
    Our page lets you review the different lists base on genre. Once you
    find a book the piques your interest, save it to your
    <a class="has-text-success" routerLink="/savedbooks">Reading List</a>.
  </p>
  <p>
    There you will have access to a lot of inform. Like, where to acquire the
    book and a brief description. As you read thru the list you can remove them
    once read or if it does not meet your taste.
  </p>
  <p>
    Start <a class="has-text-success" routerLink="/search">searching</a> today
    and find your passion.
  </p>
</div>
