<div
  id="viewSelection"
  class="columns is-centered is-full is-multiline is-flex is-justify-content-center is-flex-direction-row is-flex-wrap-wrap p-5 m-5"
>
  <div
    *ngFor="let book of books"
    class="book-container m-5"
    >
    <div class="is-flex-direction-row">
    <img
      class="book-cover is-text-align-center"
      src="{{book.book_image}}"
      alt="{{book.title}}'s cover"
    />
    <div class="p-3 title is-full has-text-centered is-capitalized">
      <h2 class="is-full">{{book.title}}</h2>
    </div>
    <div class="p-3 author is-full has-text-centered is-capitalized">
      <h3>{{book.author}}</h3>
    </div>
    <div class="snippet my-5 has-text-centered">
      <p>{{book.description}}</p>
    </div>
  </div>
    <div class="is-align-items-self-end">
    <button *ngIf="!this.readingState.checkStatus(book.primary_isbn10)"(click)="saveBook(book.primary_isbn10)" class="button is-warning">Save Book</button>
</div>
  </div>
</div>
