
.book-container {
	position: relative;
	width: 250px !important;
	min-width: 230px !important;
	max-width: 250px;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: -1px 1px 4px rgb(70, 70, 70);
	overflow: hidden;
	border: 1px solid rgb(255, 56, 96);
}

.book-container:hover {
	transform: scale(1.1);
	box-shadow: -10px 10px 15px rgb(34, 34, 34);
}

.book-container::before {
	content: "";
	position: absolute;
	background-color: rgb(255, 56, 96);
	inset: -21px 13px;
	height: 108px;
	width: 15px;
	transition: height 0.2s;
	transform: rotate(35deg);
}
.book-cover {
	height: 245px;
	width: 165px;
}
.saveBook {
	display: inline-block;
	margin: 0 1px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 25px;
	height: 25px;
}

.bookmark{
	color: #00d1b2

}


.snippet p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}
